* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  width: 100vw;
  height: 100vh;
  padding-top: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content {
  width: 50vw;
  display: flex;
  justify-content: space-between;
}

.board {
  background-color: black;
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(10, 32px);
  grid-auto-rows: 32px;
  gap: 2px;
}

.cell {
  background-color: white;
  cursor: pointer;
}
