* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  width: 100vw;
  height: 100vh;
  padding-top: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content {
  width: 50vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board {
  width: 376px;
  height: 376px;
  display: flex;
  flex-wrap: wrap;
}

.empty-cell {
  width: 32px;
  height: 32px;
}

.col-headers {
  display: grid;
  grid-template-columns: repeat(10, 32px);
  grid-template-rows: 32px;
  gap: 2px;
}

.row-headers {
  display: grid;
  grid-template-columns: 32px;
  grid-template-rows: repeat(10, 32px);
  gap: 2px;
}

.col-headers div,
.row-headers div {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-contents {
  background-color: black;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(10, 34px);
  grid-template-rows: repeat(10, 34px);
}

.cell {
  font-weight: bold;
  font-family: sans-serif;
  font-size: large;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell:hover {
  box-shadow: inset 0px 0px 5px 0px blue;
}
